div {
  display: block;
  box-sizing: border-box;
  border: 10px solid rgb(193, 70, 255);
  border-radius: 10px;
}

button {
  height: 30px;
  width: 30px;
}

form button {
  height: 25px;
  width: 65px;
}