.card {
  border: 1px solid #e1aaff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;

  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 480px; 
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: 180px;     
  object-fit: contain; 
  background-color: #f5f5f5; 
  border-radius: 5px;
}

.card h2 {
  font-size: 1.1rem;
  margin: 10px 0 5px;
  height: 2.5em;
  overflow: hidden;
}

.card p {
  margin: 5px 0;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.price {
  font-weight: bold;
  color: rgb(0, 109, 9);
  margin: 5px 0;
}

.rating {
  margin: 5px 0;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background-color: #25d366; 
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #128c7e;
}

a {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color: #1100cc;
}

a:hover {
  text-decoration: underline;
}

.thumbnails {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.thumbnails img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 3px;
  transition: 0.2s;
}

.thumbnails img:hover {
  border-color: #007bff;
}

/* share кнопки*/
.share-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.share-buttons button {
  padding: 6px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.share-buttons button:nth-child(1) {
  background-color: #25d366;
}

.share-buttons button:nth-child(1):hover {
  background-color: #128c7e;
}

.share-buttons button:nth-child(2) {
  background-color: #0088cc;
}

.share-buttons button:nth-child(2):hover {
  background-color: #006699;
}